* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white_color: #fff;
    --text_Color: #068AB3;
    --other_products_color: #2BC3F2;
    --clients_bg: #C8EFFC;
    --black_text_color: #393B3B;
    --box_shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

body {
    color: var(--text_Color);
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

button {
    user-select: none;
}

ul li {
    list-style-type: none;
}

/* SECTIONS MAX-SIZE CONTAINER */
.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}

.container.tech {
    width: 100%;
}

.title_home-link {
    margin-bottom: 1.5rem;
    gap: .3rem;
}

.title_home-link h2 {
    margin-bottom: 0;
}

.home_link {
    border-right: 1px solid var(--text_Color);
    padding-right: .2em;
    color: var(--text_Color);
}

/* A REUSABLE CLASS ACROSS THE SITE */
.row {
    display: flex;
    align-items: center;
}

/* HEADER CONTAINING THE NAVBAR */
header {
    background: var(--white_color);
    padding: 1.2em 0;
    box-shadow: var(--box_shadow);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.main_navbar {
    justify-content: space-between;
    position: relative;
}

/* CONTAINER STYLING FOR THE TWO NAVS STACK AT TOP OF EACH OTHER */
.nav-menu_containers {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.top_nav,
.down_nav {
    gap: 1rem;
}

/* RC: 1354601 */
.address {
    font-size: 14px;
    font-weight: bold;
}

.nav-item_call,
.nav-item_email {
    gap: .3em;
}

.nav-item_btn {
    background: var(--text_Color);
    color: var(--white_color);
    gap: .5rem;
    padding: 14.5px 24px;
    border-radius: 18px;
    width: fit-content;
    user-select: none;
    user-zoom: 300px;
}

.navigation-bar_container {
    gap: 4rem;
}

.mobile-nav-toggle {
    display: block;
    background: url(../Assets/icon-menu.png);
    background-position: center;
    background-size: cover;
    outline: none;
    border: none;
    width: 2rem;
    aspect-ratio: 1/1;
    z-index: 1000;
    cursor: pointer;
}

.mobile-nav-toggle[data-visible=true] {
    background: url(../Assets/icon-menu-close.svg);
    background-position: center;
    background-size: cover;
}

.sr-only {
    position: absolute;
    width: 1px;
    overflow: hidden;
}

.nav-menu__container {
    position: relative;
}

.nav_menu {
    position: absolute;
    width: 255px;
    right: 0;
    top: 4.5rem;
    background: #fff;
    padding: 1rem 1.5rem;
    border-radius: 14px;
    box-shadow: 0px -3px 4px #8f8f8f;
    display: none;
}

.nav_menu ul li {
    margin-bottom: .7rem;
}

.nav_menu a {
    color: var(--text_Color);
}

.help_support a {
    color: #393B3B;
    gap: .4em;
}

.mobile_whatsapp {
    list-style: none;
    margin-right: 1rem;
    display: none;
}

#navigation-bar[aria-expanded="true"] {
    display: flex;
}

#home-page_first_section {
    position: relative;
    background-image: url(../Images/Images\ for\ site2.jpg);
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: color-dodge;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 84dvh;
    margin: 7.5rem 0 4rem;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

.home__container {
    width: 100%;
}

.text__container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: start;
    color: var(--white_color);
}

/* THE BOOK A CALL BUTTON IN THE FIRST SECTION */
.CTA_btn {
    background: var(--white_color);
    color: var(--text_Color);
    gap: .5rem;
    padding: clamp(5px, 5vw, 17px) clamp(20px, 5vw, 32px);
    border-radius: 18px;
    outline: none;
    border: none;
    margin: 1.5rem 0 1rem;
}

/* SCROLL NAVIGATOR STYLING */
.scroll__down {
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.scroll__down p {
    font-weight: bold;
    font-size: 12px;
}

.scroll__down small {
    font-size: 10px;
    color: #c2c1c1;
}

/* PLAY/PAUSE BUTTON FOR THE BACKGROUND VIDEO STYLING*/
.play__btn {
    background: var(--white_color);
    padding: .5rem .7rem;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.home__address {
    margin-top: 1rem;
}

.home__email {
    margin: .6rem 0;
}

.home__call,
.home__email {
    gap: .5rem;
}

/* THE COMPANY FULL LOGO AT THE BOTTOM RIGHT CONNER OF THE FIRST SECTION */
.company__logo {
    background: #fff;
    border-radius: 100%;
    padding: .5rem;
    opacity: .7;
    position: absolute;
    right: 7.5rem;
    bottom: 2rem;
}

.company__logo .logo_dark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#services__section {
    margin-bottom: 2rem;
}

.services_contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.services_contents article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem 0rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    min-height: 256px;
    justify-content: flex-start;
    align-items: center;

}

.services_contents article h4 {
    margin: 1rem 0;
}

.services_contents article img {
    width: 60px;
}

a .much_more {
    color: var(--text_Color);
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin-top: 1.5rem;
}

#Products__section {
    margin-bottom: 5rem;
}

.products_contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.Products__section p {
    font-weight: bold;
    text-align: center;
}

.product {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2),
        4px 0 2px -1px rgba(0, 0, 0, 0.2), -1px 1px 3px rgba(0, 0, 0, 0.2);
}

.product_name {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.product_name p {
    text-align: center;
}

.product_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.White_Shirt {
    height: 100%;
}

.Caps {
    flex-direction: column;
}

/* .shirt_cap{
    justify-content: center;
} */

#other-products__section {
    margin-bottom: 5rem;
}

.other-product_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.other_product {
    background: var(--other_products_color);
    padding: 14px 24px;
    border-radius: 35px;
    color: #fff;
    font-weight: bold;
    font-size: .875rem;
}

#work-gallery_section {
    margin-bottom: 5rem;
}

.work-gallery_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
}

.work-gallery__img {
    width: 100%;
    height: 100%;
    line-height: 0;
    transition: 1s;
}
.work-gallery__img:hover {
    transform: scale(1.1);
}

#technologies {
    margin-bottom: 5rem;
    position: relative;
}

.technologies__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem 13.5rem;
}

.technology {
    flex-direction: column;
    background: #EEFBFE;
    padding: 6.6875rem 0;
    row-gap: 2rem;
}

.technology .technology_img{
    padding-inline: 2rem;
}
.technology figcaption {
    text-align: center;
    padding-inline: 3rem;
}

.technology figcaption h4 {
    margin-bottom: .8rem;
}

/* DESIGN VECTORS AND ELLIPSE STYLING */

.ellipse {
    position: absolute;
    z-index: -1;
}

.ellipse3 {
    top: 10rem;
    right: 41%;
}

.ellipse5 {
    top: 35%;
    left: 21%;
}

.ellipse4 {
    top: 48%;
    right: 32%;
}

.ellipse6 {
    bottom: 0;
    right: 19%;
}

.ellipse1 {
    bottom: -80%;
}


/* OUR CLIENTS SECTION STYLING */

#clients__section {
    margin-bottom: 5rem;
    background-color: var(--clients_bg);
    padding: 2.5rem 0;
}

.clients__container {
    gap: 2.7rem;
    animation-name: moving_clients;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: unset;
    position: relative;
    animation-timing-function: linear;
}

.clients_img6 {
    height: 152.9px;
    width: 120px;
}


/* OUR VISION AND MISSION SECTION */

#mission-vision_section {
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
}

.mission-vision_container {
    max-width: 650px;
}

.vision_container,
.mission_container ul li {
    font-size: 1.125rem;
}

.mission_container {
    margin-top: 5rem;
}

.vision_container img {
    margin-bottom: 1.5rem;
}

.mission_logo {
    padding: 20px 16px;
    background: var(--text_Color);
    opacity: .6;
    width: fit-content;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 1.5rem;
}

.mission_container ul li {
    text-align: left;
    list-style: disc;
    margin-bottom: 1rem;
}

/* The fixed whatsapp icon and the button that takes you back to the top */

.fixed_navigator {
    position: fixed;
    flex-direction: column;
    right: 3rem;
    bottom: 1rem;
    gap: .2em;
}

.fixed_whatsapp img,
.fixed_arrow img {
    padding: .4rem .3rem;
    border-radius: 100%;
    background: var(--white_color);
}

.fixed_whatsapp img {
    padding-bottom: .1rem;
}

.fixed_arrow img {
    padding-inline: .4rem;
}

/* The big half ellipse used to add beauty to the vision and mission section */

.ellipse2 {
    right: 0;
    bottom: 2rem;
}

/* FOOTER SECTION STYLING */

footer {
    background: var(--text_Color);
    color: var(--white_color);
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
    padding: 2rem 0 1rem;
    line-height: 1.7;
}

.footer_container div {
    width: 100%;
}

footer a {
    display: block;
    color: var(--white_color);
    margin-bottom: .3rem;
}

.description .footer_logo {
    margin-bottom: 1.5rem;
}

.contact_us h3,
.quick_links h3 {
    margin-bottom: 4rem;
}

.contact_us,
.quick_links {
    padding-left: 3.5rem;
    font-size: 14px;
}

.footer_text {
    margin: 0 0 1rem 0;
    font-size: 14px;
}

.social-media_icons {
    gap: 1.5rem;
}

footer .address,
footer .phone_nos-container,
footer .email_container {
    gap: .5rem;
    margin-bottom: .5rem;
}

.address {
    align-items: flex-start;
    /* font-weight: normal; */
}

.phone_nos {
    flex-direction: column;
    align-items: flex-start;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    background: #00576A;
}


.nav__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #000;
    left: 0;
    right: 0;
    opacity: .4;
    display: none;
}


/* MOBILE VIEW */

@media (max-width: 1285px) {
    /* Reducing the padding left i added to the contact and quick links box to make it seems centralized  */

    .contact_us,
    .quick_links {
        padding-left: 0;
    }
}

@media (max-width: 1195px) {

    .home__container {
        width: 80%;
    }

    .products_contents,
    .work-gallery_container {
        justify-content: center;
    }

    .product {
        height: 294px;
    }


}

@media (max-width: 1100px) {
    .work-gallery_container {
        justify-content: center;
    }
    .clients__container {
        animation-name: moving_clients1;
    }
}

/* HAMBUGER MENU */


@media (max-width: 1090px) {
    .nav-menu_containers {
        display: none;
    }

    .mobile_whatsapp {
        display: block;
    }

    /* Redeclaring the margin that suit the fixed navbar and also allows my home page view not to be
    stucked under the navbar also the suitable height thst suit the home psge first section st 940px
    screen size*/

    #home-page_first_section {
        margin: 5rem 0 4rem;
        min-height: 90dvh;
    }

}


@media (max-width: 940px) {

    /* Making the services section entertain 2 articles box on a row at 940px before turning to 1 article 
    box per row*/
    .services_contents {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .ellipse2 {
        display: none;
    }

}


@media (max-width: 660px) {

    .home__container {
        flex-direction: column;
    }


    .home-contact__details {
        display: none;
    }

    /* COMPANY LOGO TAKING BACK TO THE LEFT SIDE OF THE HOMEPAGE AS OPPOSED TO THE 
    RIGHT SIDE IT WAS BEFORE ON DESKTOP VIEW */

    .company__logo {
        left: 2rem;
        right: unset;
    }


    .clients__wrapper {
        margin: auto;
        overflow-x: hidden;
    }

    #Products__section {
        margin-bottom: 5rem;
    }

    /* PRODUCT MOBILE VIEW DESIGN */
    .other-product_container {
        display: grid;
    }

    .other_product {
        width: fit-content;
    }

    .clients__container img {
        width: 100px;
        height: 120px;
    }
    .clients__container {
        animation-name: moving_clients2;
    }

    .ellipse3,
    .ellipse5,
    .ellipse6{
        display: none;
    }

}

@media (max-width: 580px) {
    h1 {
        padding-right: 8rem;
    }

    /* Making the video play button adapt to the screen size */
    .play__btn {
        left: 60%;
    }

    .clients__container {
        animation-name: moving_clients3;
    }

}
@media (max-width: 450px) {
    .clients__container {
        animation-name: moving_clients4;
    }
}

@media (max-width: 425px) {
    .play__btn {
        left: 64%;
    }
}

@media (max-width: 408px) {
    .CTA_btn {
        padding: 10px 15px;
    }

    /* Making the video play button adapt to the screen size */
    .play__btn {
        top: 42%;
        left: 65%;
    }
    }

@media (max-width: 360px) {
    .clients__container {
        animation-name: moving_clients5;
    }
}


/* Adding a moving animation to the company partners(CLIENTS) */

@keyframes moving_clients {
    0% {
        transform: translateX(-1250px);
    }

    100% {
        transform: translateX(1250px);
    }
}

@keyframes moving_clients1 {
    0% {
        transform: translateX(-1250px);
    }

    100% {
        transform: translateX(1100px);
    }
}

@keyframes moving_clients2 {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(600px);
    }
}

@keyframes moving_clients3 {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(500px);
    }
}

@keyframes moving_clients4 {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(400px);
    }
}


@keyframes moving_clients5 {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(350px);
    }
}
